modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
WIKI_KEY_HERMES_1 = "b6e690515d1a9169f9169e3699d2a6ee3c68cf32ed9623b5f623dacd"
WIKI_KEY_HERMES_2 = "89d2d217b2b91771bc83cfb42a1d0b5a6e60f6ea082b83f6c5407def"
WIKI_KEY_HERMES_3 = "2a9fa13a685664580cc11c6f5ef80d6bda3608f4a8e3d681b59b6c79"
WIKI_KEY_HERMES_4 = "a634271867fc3a68454c4ebc98bc1f39460754e771ef22fc3ca45f54"
WIKI_KEY_HERMES_5 = "2bd7d755b79044fa9bf408a6e4997bbba0edcb9c8b8d776db196c889"
